@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --brand: #e45351;
  --brand-dark: #d85553;
  --card: #1d2226;
  --card-border: #38434f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
